// bower:scss
// endbower
@mixin radius($px) {
  border-radius: $px;
  -moz-border-radius: $px;
  -webkit-border-radius: $px;
}
@mixin box-shadow($shadowParams){
  box-shadow: $shadowParams;
  -moz-box-shadow: $shadowParams;
  -webkit-box-shadow: $shadowParams;
}


*:active,*:focus {outline: none!important;}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  background-color:#EEEEEE;
}
.container{
  max-width: 600px;
  padding-left: 0;
  padding-right: 0;
}

.main_wrapper{
  @include radius(5px);
  background-color:#FFF;
  overflow: hidden;
  margin-top:0px;
  section{
    padding:10px 5px 20px;
  }
  hr{
    margin:0;
  }
}

form.editor-form{
  .input-group{
    width:100%;
  }
  .form-control.editor-input{
    width:80%;
  }
}


ul.list_wrapper{
  padding:0;
  margin:0;
  min-height:200px;
  max-height:200px;
  overflow-y:auto;
  overflow-x:hidden;
  &.logs{
    min-height:100px;
  }
  li{
    list-style: none;
    padding: 0 0 2px 0;
    border:none;
    line-height: 32px;
    border-top:1px solid #ddd;
  }
}
.logger_wrap{
  background: rgba(0, 0, 0, 0.17);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .main_wrapper{
    margin-top:30px;
    section{
      padding:10px 20px 20px;
    }
  }
  .container{
    padding-left: 15px;
    padding-orange: 15px;
  }
}
