<hr>
<section class="emails_wrap">
<h5 class="text-left">Email List</h5>
  <ul class="list_wrapper">
    <li ng-hide="list.length" class="no_results">
      <img src="./images/sad.svg" />
      <h2 class="text-center">Nothing Here</h2>
      <h5>Try to add something</h5>
    </li>
    <li class="row" ng-repeat="line in list" ng-mouseover="showOptions = ! showOptions" ng-mouseout="showOptions = ! showOptions">
      <div class="col-xs-8 col-sm-9">
        <span>{{line.email}}</span>
      </div>
      <div class="col-xs-4 col-sm-3 text-right">
        <button ng-show="showOptions" type="button" class="btn btn-danger" ng-click="removeItem(line)">Delete</button>
        <img class="avatar" ng-show="showOptions" ng-src="{{getAvatar(line.email)}}" />
      </div>
    </li>
  </ul>
</section>
